.containerHome {
    height: calc(100vh - var(--height-navbar));
    display: flex;
    align-items: center;
    justify-content: center;
}
.primaryServiceSelection {
    display: flex;
    gap: 1rem;
}
.checkboxRegistro label, .checkboxRemocao label {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.primaryServiceSelection label input[type="checkbox"] {
    margin: 0 .3rem;
    width: 1rem;
    height: 1rem;
}


.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


/* -----------SELEÇÃO DO PRÉDIO----------- */
.selectionREPs {
    margin-top: 2rem;
}
.predioSelect {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    max-width: 12rem;
    gap: .3rem;
}
.predioList, .repLis {
    background-color: var(--blue-700);
    width: 3.8rem;
    padding: 1.5rem;
}
.predioList:hover, .repLis:hover {
    background-color: var(--green-500);
    cursor: pointer;
}
.predioList:last-child, .repLis:last-child {
    flex-grow: 1;
    max-width: none;
}