.navBar {
 background-color: var(--blue-700);
}
.navBar header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 1.5rem;
}
.listMenu {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}
.listMenu li {
    padding: .5rem .9rem;
    border-radius: .5rem;
    font-weight: bold;
}
.listMenu li:hover {
    background-color: var(--green-300);
}
.listMenu li:last-child {
    background-color: var(--red-400);
}
.listMenu li:hover:last-child {
    background-color: var(--red-300);
}