.navBar {
    background-color: var(--blue-700);
}

.navBar header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--height-navbar);
    padding: 1.5rem;
}
.iconMenuPage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem .3rem;
    color: var(--white);
    background-color: var(--blue-900);
    border-radius: .3rem;
}


.listMenu {
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style-type: none;
}

.listMenu a {
    padding: .5rem .9rem;
    border-radius: .5rem;
    font-weight: bold;
}
.listMenu a:hover {
    background-color: var(--blue-900);
}
.listMenu .menuSair a {
    background-color: var(--red-400);
}
.listMenu .menuSair a:hover {
    background-color: var(--red-300);
}